.loginBox{
    margin-top:100px;
    margin-left: auto;
    margin-right: auto;
    padding: 30 70 70 70;
    background-color:rgb(255, 255, 255);
    border:solid 1px #ccc;
}
td{
    padding-top: 12px;
}
.ite{
    border-radius: 0.3em;
    padding: 13 13 13 13 ;
    font-size: 15px;
    border:solid 1px #ccc;
    margin: 10 0 10 0;
    width: 300px;
}
.itepass{
    border-radius: 0.3em;
    padding: 13 13 13 13 ;
    font-size: 15px;
    border:solid 1px #ccc;
    margin: 10 0 10 0;
    width: 300px;
}
.isub{
    border-radius: 0.3em;
    border: 0;
    padding: 10px;
    font-size: 17px;
    color:white;
    margin: 5 0 17 0;
    width: 300px;
    background-color: dodgerblue;
}
.isub[disabled]{
    border-radius: 0.3em;
    border: 0;
    padding: 10px;
    font-size: 17px;
    color:white;
    margin: 5 0 17 0;
    width: 300px;
    background-color:rgb(168, 168, 168);
}
.topage{
    text-align: center;
    margin:10 0 0 0;
}
a{
    text-decoratin: none;
}
#failedMessage{
    text-align: center;
}
.message{
    font-size: 13px;
}