   
h1{
    text-align: center;
}
table{
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
}

#files{
    float:left;
    clear:both;
    padding: 15px;
}
  
#preview-item1{
    text-align: center;
    width:auto;
    float:left;
    clear:both;
}

  
td img{
    width:400px;
    height:400px;
    margin: 5 5 5 5;
    border: solid 1px;
    object-fit: cover;
    z-index: 1;
    position: relative;
}
td a{
    /* border-style:none; */
    border: solid 1px;
    width:400px;
    height:400px;
    margin: 5 5 5 5;
    
    position: absolute;
    z-index: 2;
}
.imgbutton{
    text-align: center;
}
.postcoment{
    text-align: center;
}
.postbutton{
    text-align: center;
}
#sbtn{
    border-radius: 0.3em;
    border: 0;
    padding: 10px;
    font-size: 17px;
    color:white;
    margin: 20 0 20 0;
    width: 300px;
    background-color: rgb(35, 111, 187);
}
#sbtn[disabled]{
    border-radius: 0.3em;
    border: 0;
    padding: 10px;
    font-size: 17px;
    color:white;
    margin: 20 0 20 0;
    width: 300px;
    background-color:rgb(189, 189, 189)
}