h1{
    text-align: center;
}
td{
    text-align: center;
    margin:0 0 0 0;
    padding:10 10 10 10;
}

.ut{
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
}
.puname{    
    font-size:35px;
}
.puid{
    color:rgb(75, 75, 75);
    font-size: 30px;
}
.pebtn{
    font-size: 17px;
}
.list{
    font-size: 17px;
    background:none;
	border:none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.ht{
    margin-left: auto;
    margin-right: auto;
}

/* 投稿のほう */
hr{
    color:#cecece;
}
.pt{
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
}
.t{
    color:rgb(90, 90, 90);
}