h1{
    text-align: center;
}
td{
    text-align: center;
}
.head{
    margin-left: auto;
    margin-left: auto;
}

.ut{
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
}
.puname{    
    font-size:35px;
}
.puid{
    color:rgb(75, 75, 75);
    font-size: 30px;
}
.pebtn{
    font-size: 17px;
}
.list{
    font-size: 17px;
    background:none;
	border:none;
	outline: none;
	/* -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none; */
}

.ht{
    margin-left: auto;
    margin-right: auto;
}

/* 投稿のほう */
hr{
    color:#cecece;
}
.t{
    padding: 0 30 0 30;
}
.postu{
    width:1680px;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    flex-wrap: wrap;
    display:-webkit-flex; 
    list-style-type:none;
    padding:0 50 0 50;
}
.pp{
    width: 400px;
    height: 400px;
    flex-basis:40px;
    margin:10 10 10 10;
    overflow: hidden;
    background: #000;
}
.ppimg{
    object-fit: cover;
    cursor: pointer;
    transition-duration: 0.3s;
}
.ppimg:hover{
    opacity: 0.5;
    transition-duration: 0.3s;
}