table{
    margin-top:100px;
    margin-left: auto;
    margin-right: auto;
    padding: 30 70 70 70;
    background-color:rgb(255, 255, 255);
    border:solid 1px #ccc;
}
.ite{
    border-radius: 0.3em;
    padding: 13 13 13 13;
    font-size: 15px;
    border:solid 1px #ccc;
    margin: 0 0 20 0;
    width: 300px;
}
.iteid{
  border-radius: 0.3em;
  padding: 13 13 13 13 ;
  font-size: 15px;
  border:solid 1px #ccc;
  margin: 0 0 0 0;
  width: 300px;
}
.itepass{
  border-radius: 0.3em;
  padding: 13 13 13 13 ;
  font-size: 15px;
  border:solid 1px #ccc;
  margin: 0 0 0 0;
  width: 300px;
}
.isub{
    border-radius: 0.3em;
    border: 0;
    padding: 10px;
    font-size: 17px;
    color:white;
    margin: 0 0 20px;
    width: 300px;
    background-color: dodgerblue;
}
.isub[disabled]{
    border-radius: 0.3em;
    border: 0;
    padding: 10px;
    font-size: 17px;
    color:white;
    margin: 0 0 20px;
    width: 300px;
    background-color:rgb(168, 168, 168);
}
a{
  /* 下線部を消す */
  text-decoration: none;
}
.topage{
  text-align: center;
  margin:10 0 0 0;

}
 
.tdnote{
  color: rgb(158, 158, 158);
  font-size: 15px;
  padding: 0 0 10 0;
}
#failedMessage{
  text-align: center;
}
.message{
  font-size: 13px;
  margin:0 5 10 5;
}