*:focus
{
	outline: none;
}
input#submit_btn
{
	background:none;
	border:none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
body{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color:rgb(250,250,250);
}
