*:focus
{
	outline: none;
}
input#submit_btn
{
	background:none;
	border:none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
body{
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-color:rgb(238, 238, 238);
}

#icon{
	border-radius:50%;
}