<web-app>

	<welcome-file-list>
		<welcome-file>/WEB-INF/jsp/index.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>FrontController</servlet-name>
		<servlet-class>main.FrontServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>